.Video{
    width:100%;
    margin-top:14rem;
    margin-bottom:5rem;

}

.Video_box{
    font-size:3rem;
    line-height: 1.5;
    
    
}

.Video_box p{
    font-size:1.5rem;
    width:40%;
    line-height: 1.2;
}

.Video_box_frame{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    gap:1rem;
    padding:5rem;
    margin-top: 6rem;
}

.Video_box_frame_left{

    grid-column:1/8;
    grid-row:1/-1;
}

.Video_box_frame_left_img{
    border-radius:1rem;
    position: relative;
        box-shadow: var(--box-shadow);
        z-index: 2;
}

.Video_box_frame_right{
    grid-column:5/-1;
    background-color: var(--icons-color);
    border-radius:1rem;
    padding:3rem 0;
    grid-row:1/-1;
    margin-top:-4rem;
    box-shadow:var(--box-shadow);
    margin-bottom: -2rem;
    z-index: 1;
    
}